# WLAN adapters
# ASUS USB-N53       idVendor=0b05 idProduct=179d (firmware rt2870.bin version=0.29, входит в пакет linux-firmware-ralink)
# D-Link DWA-126     idVendor=07d1 idProduct=3a10 (firmware htc_9271.fw version=1.3, входит в пакет linux-firmware-ath9k)
# TP-LINK TL-WN722N  idVendor=0cf3 idProduct=9271 (Atheros Communications, Inc. AR9271 802.11n)


SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", KERNEL=="wlan*", RUN+="/etc/network/wlan-runner up $env{INTERFACE}"
SUBSYSTEM=="net", ACTION=="remove", DRIVERS=="?*", KERNEL=="wlan*", RUN+="/etc/network/wlan-runner down $env{INTERFACE}"
